*{      /* Normalizando o Projeto */
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}
body{
    background-color: #F8F8F8;
}
.content{
    width: 100%;

}

.maincontainer{
    padding: 100px;
    background-color: #211F1F;
    position: absolute;                         /* Deixando a div no meio da pagina */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 60px;          
}

.iuser{
    border: none;
    width: 100px;
    height: 25px;
    text-align: center;
    border: 1px #30343b solid;
    border-radius: 5px;
    color: #211F1F;
    font-weight: bolder;
}

.op{
    margin-right: 5px;
    margin-left: 5px;
    width: 30px;
    height: 25px;
    border:none;
    color: white;
    font-weight: bolder;
    font-size: 17px;
    background-color: #999795;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.op:hover{
    background-color:hsl(30, 1%, 33%);
}

#resultado{
    color: crimson;
    border: solid 1px #FF7000;
    margin-top: 70px;
    width: 150px;
    height: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF7000;
    color: white;
    line-height: 38px;
    font-weight: bolder;
    border-radius: 10px;
    cursor: default;
}
